.container {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: row;
}

.card {
    width: 60vw;
    height: 75vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: flex;
    flex-direction: row;
}

.side-background {
    width: 50%;
    height: 75vh;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ccc;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side-background button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

.side-background button:hover {
    background-color: #0056b3;
}

.login-form {
    padding : 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 10px;
}

.login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form a {
    color: #006fe6;
}

.login-form a:hover {
    color: #0056b3;
}

.register-form {
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.register-form label {
    margin-bottom: 10px;
}

.register-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #0056b3;
}

.register-form a {
    color: #006fe6;
}

.register-form a:hover {
    color: #0056b3;
}